#header{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
    font-size: x-large;
    text-align: center;
}

#header h1{
    margin-bottom:0;
}

body{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#body-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{
    border: 2px #F9F9F8;
    background-color: #303030;
    border-radius: 10px;
    height: 485px;
    width: 800px;
    height: fit-content;
    padding: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
    max-width: 800px;
}

.tophalf {
    display: flex;
    align-items: center;
    justify-content: center;
}

#motd-container{
    margin-right: 30px;
    margin-top: 75px;
    margin-left: 0;

}

#image{
    margin: auto;
    padding: 20px;
}

#server-icon{
    border: 1px solid #5e5e5e;
    height: 100px;
    border-radius: 5px;
}

#text{
    font-family: Arial, Helvetica, sans-serif;
}

#motd-message{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-left: 10px;
    font-size: large;
    border: 2px solid #1a1a1a;
    border-radius: 5px;
    background-color: #1a1a1a;
    width: 615px;
    margin-bottom: 10px;
}

.break{
    border: 1px solid #1a1a1a;
    height: 0px;
    width: 720px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 30px;
    border-radius: 10px;
}

#break2{
    padding-top: 10px;
}

.text-label{
    padding-left: 15px;
}

#server-ip-message{
    padding: 5px;
    margin-left: 10px;
    font-size: large;
    border: 2px solid #1a1a1a;
    border-radius: 5px;
    background-color: #1a1a1a;
    width: 750px;
    margin-bottom: 10px;
}

#server-status-message{
    padding: 5px;
    margin-left: 10px;
    font-size: large;
    border: 2px solid #1a1a1a;
    border-radius: 5px;
    background-color: #1a1a1a;
    width: 750px;
    margin-bottom: 10px;
}

#players-online{
    padding: 5px;
    margin-left: 10px;
    font-size: large;
    border: 2px solid #1a1a1a;
    border-radius: 5px;
    background-color: #1a1a1a;
    width: 750px;
    margin-bottom: 15px;
}

#players{
    margin-left: 15px;
}

#player-list{
    display: inline-flexbox;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
}

li{
    border: 2px solid #1a1a1a;
    border-radius: 5px;
    background-color: #1a1a1a;
    width: 360px;
    list-style-type: none;
    padding: 3px;
    margin-right: 10px;
    margin-top: 10px;
    height: 45px;
}

li:hover {
    border-color: #646cff;
  }
li:focus,
li:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

.avatar{
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-left: 200px;
    float: right;
    padding-right: 5px;
}

@media (prefers-color-scheme: light) {
    body {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
}

@media(max-width: 700px){
    .container{
    flex-basis: 32%;
    border-radius: 20px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    }
}